table {
    border: 2pt solid;
}

td:hover {
    background-color: beige;
}

.reg_date {
    width: 50%;
    background-color: burlywood;
}

.icons {
    width: 36px;
    height: 36px;
    border: 3px  solid green;
    border-radius: 5%;
}